extends layoutBack.pug
block content
    .container
        h1 Ajouter un bien 
        form(action="" method="post")
            .form-group
                label(for='inputName') Image
                input#inputAddress.form-control(type='text' name="image")
            .form-group
                label(for='inputFirstname') Lieu
                input#inputAddress.form-control(type='text' name="place")
            .form-group
                label(for='inputAddress') Ville
                input#inputAddress.form-control(type='text' name="City")
            .form-group
                label(for='inputAddress2') Prix
                input#inputAddress2.form-control(type='text' name="Price")
            .form-row
                button.btn.btn-primary(type='submit') ajouter