extends layout.pug
block content
    h1 Inscription 
    form.container(action="" method="post")
        .form-row
            .form-group.col-md-6
                label(for='inputEmail4') Email
                input#inputEmail4.form-control(type='email' placeholder='Email')
            .form-group.col-md-6
                label(for='inputPassword4') Mot de passe
                input#inputPassword4.form-control(type='password' placeholder='Mot de passe')
        .form-floating
            select#floatingSelect.form-select(aria-label='Civilité')
                option(value='1') M.
                option(value='2') Mme.
            label(for='floatingSelect') Civilité
        .form-group
            label(for='inputName') Nom
            input#inputAddress.form-control(type='text' placeholder='Duchemin')
        .form-group
            label(for='inputFirstname') Prenom
            input#inputAddress.form-control(type='text' placeholder='Jean')
        .form-group
            label(for='inputAddress') Addresse
            input#inputAddress.form-control(type='text' placeholder='12 rue du chemin')
        .form-group
            label(for='inputAddress2') Addresse Suite
            input#inputAddress2.form-control(type='text' placeholder="Complément d'adresse")
        .form-row
            .form-group.col-md-6
                label(for='inputCity') Ville
                input#inputCity.form-control(type='text')
            .form-group.col-md-2
                label(for='inputZip') Code Postal
                input#inputZip.form-control(type='text')
        button.btn.btn-primary(type='submit') Inscripti